<ion-view view-title="Weather at {{options.city}}">

  <ion-content>
    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>
    
    <div class="list">
      <div ng-repeat="day in days | orderBy : 'dayDate'">
        <div class="item item-divider">
          <span>{{day.dayDate | date:'fullDate'}}</span>
        </div>
  
        <div class="item" ng-repeat="item in day.items">
          <span>{{item.dt *1000 | date:'shortTime'}}</span>
          <span>{{item.weather[0].description}}</span>
          <span class="badge">{{item.main.temp | number:1}}°</span>
        </div>
      </div>
    </div>

    <a href="#" ng-click="openLink('http://openweathermap.org/city/{{forecast.city.id}}')">More</a>

  </ion-content>
</ion-view>
